@charset "UTF-8";
/*
* Resizes all images in a given sprite
* mixin courtesy of Wilker Lúcio https://gist.github.com/wilkerlucio/6442309
* params: $only = if you want to list specific files instead of regenerating every image (ex. globe, checkmark)
*/
.clear {
	*zoom: 1;
}

.clear:before, .clear:after {
	content: ' ';
	display: table;
}

.clear:after {
	clear: both;
}

.hide {
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip: rect(0, 0, 0, 0);
	position: absolute;
	bottom: 0;
}

.hide-text {
	overflow: hidden;
	text-indent: -9000px;
	display: block;
}

/* Aspect Ratio */
.ratio-240x330 {
	position: relative;
}

.ratio-240x330:before {
	display: block;
	content: '';
	width: 100%;
	padding-top: 137.5%;
}

.ratio-240x330 > .content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/* Vertical align with unknow height */
.center-vertical {
	position: relative;
}

.center-vertical::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 0.1px;
}

/* Horizontal align */
.center-horizontal {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* ==========================================================================
    GRIDLEX
    Just a Flexbox Grid System
========================================================================== */
[class*="grid"] {
	box-sizing: border-box;
	display: flex;
	flex-flow: row wrap;
	margin: 0 -1rem;
}

.col,
[class*="col-"] {
	box-sizing: border-box;
	flex: 0 0 auto;
	padding: 0 1rem 2rem;
}

.col {
	flex: 1 1 0%;
}

.grid.col,
.grid[class*="col-"] {
	margin: 0;
	padding: 0;
}

/************************
    HELPERS SUFFIXES
*************************/
[class*="grid-"][class*="-noGutter"] {
	margin: 0;
}

[class*="grid-"][class*="-noGutter"] > [class*="col"] {
	padding: 0;
}

[class*="grid-"][class*="-center"] {
	justify-content: center;
}

[class*="grid-"][class*="-right"] {
	justify-content: flex-end;
	align-self: flex-end;
	margin-left: auto;
}

[class*="grid-"][class*="-top"] {
	align-items: flex-start;
}

[class*="grid-"][class*="-middle"] {
	align-items: center;
}

[class*="grid-"][class*="-bottom"] {
	align-items: flex-end;
}

[class*="grid-"][class*="-reverse"] {
	flex-direction: row-reverse;
}

[class*="grid-"][class*="-column"] {
	flex-direction: column;
}

[class*="grid-"][class*="-column"] > [class*="col-"] {
	flex-basis: auto;
}

[class*="grid-"][class*="-column-reverse"] {
	flex-direction: column-reverse;
}

[class*="grid-"][class*="-spaceBetween"] {
	justify-content: space-between;
}

[class*="grid-"][class*="-spaceAround"] {
	justify-content: space-around;
}

[class*="grid-"][class*="-equalHeight"] > [class*="col"] {
	display: flex;
}

[class*="col-"][class*="-top"] {
	align-self: flex-start;
}

[class*="col-"][class*="-middle"] {
	align-self: center;
}

[class*="col-"][class*="-bottom"] {
	align-self: flex-end;
}

[class*="col-"][class*="-first"] {
	order: -1;
}

[class*="col-"][class*="-last"] {
	order: 1;
}

/************************
    GRID BY NUMBER
*************************/
[class*="grid-1"] > .col, [class*="grid-1"] > [class*='col-'] {
	flex-basis: 100%;
	max-width: 100%;
}

[class*="grid-2"] > .col, [class*="grid-2"] > [class*='col-'] {
	flex-basis: 50%;
	max-width: 50%;
}

[class*="grid-3"] > .col, [class*="grid-3"] > [class*='col-'] {
	flex-basis: 33.33333%;
	max-width: 33.33333%;
}

[class*="grid-4"] > .col, [class*="grid-4"] > [class*='col-'] {
	flex-basis: 25%;
	max-width: 25%;
}

[class*="grid-5"] > .col, [class*="grid-5"] > [class*='col-'] {
	flex-basis: 20%;
	max-width: 20%;
}

[class*="grid-6"] > .col, [class*="grid-6"] > [class*='col-'] {
	flex-basis: 16.66667%;
	max-width: 16.66667%;
}

[class*="grid-7"] > .col, [class*="grid-7"] > [class*='col-'] {
	flex-basis: 14.28571%;
	max-width: 14.28571%;
}

[class*="grid-8"] > .col, [class*="grid-8"] > [class*='col-'] {
	flex-basis: 12.5%;
	max-width: 12.5%;
}

[class*="grid-9"] > .col, [class*="grid-9"] > [class*='col-'] {
	flex-basis: 11.11111%;
	max-width: 11.11111%;
}

[class*="grid-10"] > .col, [class*="grid-10"] > [class*='col-'] {
	flex-basis: 10%;
	max-width: 10%;
}

[class*="grid-11"] > .col, [class*="grid-11"] > [class*='col-'] {
	flex-basis: 9.09091%;
	max-width: 9.09091%;
}

[class*="grid-12"] > .col, [class*="grid-12"] > [class*='col-'] {
	flex-basis: 8.33333%;
	max-width: 8.33333%;
}

@media screen and (max-width: 75em) {
	[class*="_lg-1"] > .col, [class*="_lg-1"] > [class*='col-'] {
		flex-basis: 100%;
		max-width: 100%;
	}
	[class*="_lg-2"] > .col, [class*="_lg-2"] > [class*='col-'] {
		flex-basis: 50%;
		max-width: 50%;
	}
	[class*="_lg-3"] > .col, [class*="_lg-3"] > [class*='col-'] {
		flex-basis: 33.33333%;
		max-width: 33.33333%;
	}
	[class*="_lg-4"] > .col, [class*="_lg-4"] > [class*='col-'] {
		flex-basis: 25%;
		max-width: 25%;
	}
	[class*="_lg-5"] > .col, [class*="_lg-5"] > [class*='col-'] {
		flex-basis: 20%;
		max-width: 20%;
	}
	[class*="_lg-6"] > .col, [class*="_lg-6"] > [class*='col-'] {
		flex-basis: 16.66667%;
		max-width: 16.66667%;
	}
	[class*="_lg-7"] > .col, [class*="_lg-7"] > [class*='col-'] {
		flex-basis: 14.28571%;
		max-width: 14.28571%;
	}
	[class*="_lg-8"] > .col, [class*="_lg-8"] > [class*='col-'] {
		flex-basis: 12.5%;
		max-width: 12.5%;
	}
	[class*="_lg-9"] > .col, [class*="_lg-9"] > [class*='col-'] {
		flex-basis: 11.11111%;
		max-width: 11.11111%;
	}
	[class*="_lg-10"] > .col, [class*="_lg-10"] > [class*='col-'] {
		flex-basis: 10%;
		max-width: 10%;
	}
	[class*="_lg-11"] > .col, [class*="_lg-11"] > [class*='col-'] {
		flex-basis: 9.09091%;
		max-width: 9.09091%;
	}
	[class*="_lg-12"] > .col, [class*="_lg-12"] > [class*='col-'] {
		flex-basis: 8.33333%;
		max-width: 8.33333%;
	}
}

@media screen and (max-width: 62em) {
	[class*="_md-1"] > .col, [class*="_md-1"] > [class*='col-'] {
		flex-basis: 100%;
		max-width: 100%;
	}
	[class*="_md-2"] > .col, [class*="_md-2"] > [class*='col-'] {
		flex-basis: 50%;
		max-width: 50%;
	}
	[class*="_md-3"] > .col, [class*="_md-3"] > [class*='col-'] {
		flex-basis: 33.33333%;
		max-width: 33.33333%;
	}
	[class*="_md-4"] > .col, [class*="_md-4"] > [class*='col-'] {
		flex-basis: 25%;
		max-width: 25%;
	}
	[class*="_md-5"] > .col, [class*="_md-5"] > [class*='col-'] {
		flex-basis: 20%;
		max-width: 20%;
	}
	[class*="_md-6"] > .col, [class*="_md-6"] > [class*='col-'] {
		flex-basis: 16.66667%;
		max-width: 16.66667%;
	}
	[class*="_md-7"] > .col, [class*="_md-7"] > [class*='col-'] {
		flex-basis: 14.28571%;
		max-width: 14.28571%;
	}
	[class*="_md-8"] > .col, [class*="_md-8"] > [class*='col-'] {
		flex-basis: 12.5%;
		max-width: 12.5%;
	}
	[class*="_md-9"] > .col, [class*="_md-9"] > [class*='col-'] {
		flex-basis: 11.11111%;
		max-width: 11.11111%;
	}
	[class*="_md-10"] > .col, [class*="_md-10"] > [class*='col-'] {
		flex-basis: 10%;
		max-width: 10%;
	}
	[class*="_md-11"] > .col, [class*="_md-11"] > [class*='col-'] {
		flex-basis: 9.09091%;
		max-width: 9.09091%;
	}
	[class*="_md-12"] > .col, [class*="_md-12"] > [class*='col-'] {
		flex-basis: 8.33333%;
		max-width: 8.33333%;
	}
}

@media screen and (max-width: 48em) {
	[class*="_sm-1"] > .col, [class*="_sm-1"] > [class*='col-'] {
		flex-basis: 100%;
		max-width: 100%;
	}
	[class*="_sm-2"] > .col, [class*="_sm-2"] > [class*='col-'] {
		flex-basis: 50%;
		max-width: 50%;
	}
	[class*="_sm-3"] > .col, [class*="_sm-3"] > [class*='col-'] {
		flex-basis: 33.33333%;
		max-width: 33.33333%;
	}
	[class*="_sm-4"] > .col, [class*="_sm-4"] > [class*='col-'] {
		flex-basis: 25%;
		max-width: 25%;
	}
	[class*="_sm-5"] > .col, [class*="_sm-5"] > [class*='col-'] {
		flex-basis: 20%;
		max-width: 20%;
	}
	[class*="_sm-6"] > .col, [class*="_sm-6"] > [class*='col-'] {
		flex-basis: 16.66667%;
		max-width: 16.66667%;
	}
	[class*="_sm-7"] > .col, [class*="_sm-7"] > [class*='col-'] {
		flex-basis: 14.28571%;
		max-width: 14.28571%;
	}
	[class*="_sm-8"] > .col, [class*="_sm-8"] > [class*='col-'] {
		flex-basis: 12.5%;
		max-width: 12.5%;
	}
	[class*="_sm-9"] > .col, [class*="_sm-9"] > [class*='col-'] {
		flex-basis: 11.11111%;
		max-width: 11.11111%;
	}
	[class*="_sm-10"] > .col, [class*="_sm-10"] > [class*='col-'] {
		flex-basis: 10%;
		max-width: 10%;
	}
	[class*="_sm-11"] > .col, [class*="_sm-11"] > [class*='col-'] {
		flex-basis: 9.09091%;
		max-width: 9.09091%;
	}
	[class*="_sm-12"] > .col, [class*="_sm-12"] > [class*='col-'] {
		flex-basis: 8.33333%;
		max-width: 8.33333%;
	}
}

@media screen and (max-width: 34em) {
	[class*="_xs-1"] > .col, [class*="_xs-1"] > [class*='col-'] {
		flex-basis: 100%;
		max-width: 100%;
	}
	[class*="_xs-2"] > .col, [class*="_xs-2"] > [class*='col-'] {
		flex-basis: 50%;
		max-width: 50%;
	}
	[class*="_xs-3"] > .col, [class*="_xs-3"] > [class*='col-'] {
		flex-basis: 33.33333%;
		max-width: 33.33333%;
	}
	[class*="_xs-4"] > .col, [class*="_xs-4"] > [class*='col-'] {
		flex-basis: 25%;
		max-width: 25%;
	}
	[class*="_xs-5"] > .col, [class*="_xs-5"] > [class*='col-'] {
		flex-basis: 20%;
		max-width: 20%;
	}
	[class*="_xs-6"] > .col, [class*="_xs-6"] > [class*='col-'] {
		flex-basis: 16.66667%;
		max-width: 16.66667%;
	}
	[class*="_xs-7"] > .col, [class*="_xs-7"] > [class*='col-'] {
		flex-basis: 14.28571%;
		max-width: 14.28571%;
	}
	[class*="_xs-8"] > .col, [class*="_xs-8"] > [class*='col-'] {
		flex-basis: 12.5%;
		max-width: 12.5%;
	}
	[class*="_xs-9"] > .col, [class*="_xs-9"] > [class*='col-'] {
		flex-basis: 11.11111%;
		max-width: 11.11111%;
	}
	[class*="_xs-10"] > .col, [class*="_xs-10"] > [class*='col-'] {
		flex-basis: 10%;
		max-width: 10%;
	}
	[class*="_xs-11"] > .col, [class*="_xs-11"] > [class*='col-'] {
		flex-basis: 9.09091%;
		max-width: 9.09091%;
	}
	[class*="_xs-12"] > .col, [class*="_xs-12"] > [class*='col-'] {
		flex-basis: 8.33333%;
		max-width: 8.33333%;
	}
}

/************************
    COLS SIZES
*************************/
[class*='grid'] > [class*="col-1"] {
	flex-basis: 8.33333%;
	max-width: 8.33333%;
}

[class*='grid'] > [class*="col-2"] {
	flex-basis: 16.66667%;
	max-width: 16.66667%;
}

[class*='grid'] > [class*="col-3"] {
	flex-basis: 25%;
	max-width: 25%;
}

[class*='grid'] > [class*="col-4"] {
	flex-basis: 33.33333%;
	max-width: 33.33333%;
}

[class*='grid'] > [class*="col-5"] {
	flex-basis: 41.66667%;
	max-width: 41.66667%;
}

[class*='grid'] > [class*="col-6"] {
	flex-basis: 50%;
	max-width: 50%;
}

[class*='grid'] > [class*="col-7"] {
	flex-basis: 58.33333%;
	max-width: 58.33333%;
}

[class*='grid'] > [class*="col-8"] {
	flex-basis: 66.66667%;
	max-width: 66.66667%;
}

[class*='grid'] > [class*="col-9"] {
	flex-basis: 75%;
	max-width: 75%;
}

[class*='grid'] > [class*="col-10"] {
	flex-basis: 83.33333%;
	max-width: 83.33333%;
}

[class*='grid'] > [class*="col-11"] {
	flex-basis: 91.66667%;
	max-width: 91.66667%;
}

[class*='grid'] > [class*="col-12"] {
	flex-basis: 100%;
	max-width: 100%;
}

[class*="grid"] > [push-left*="off-0"] {
	margin-left: 0;
}

[class*="grid"] > [push-left*="off-1"] {
	margin-left: 8.33333%;
}

[class*="grid"] > [push-left*="off-2"] {
	margin-left: 16.66667%;
}

[class*="grid"] > [push-left*="off-3"] {
	margin-left: 25%;
}

[class*="grid"] > [push-left*="off-4"] {
	margin-left: 33.33333%;
}

[class*="grid"] > [push-left*="off-5"] {
	margin-left: 41.66667%;
}

[class*="grid"] > [push-left*="off-6"] {
	margin-left: 50%;
}

[class*="grid"] > [push-left*="off-6"] {
	margin-left: 50%;
}

[class*="grid"] > [push-left*="off-7"] {
	margin-left: 58.33333%;
}

[class*="grid"] > [push-left*="off-8"] {
	margin-left: 66.66667%;
}

[class*="grid"] > [push-left*="off-9"] {
	margin-left: 75%;
}

[class*="grid"] > [push-left*="off-10"] {
	margin-left: 83.33333%;
}

[class*="grid"] > [push-left*="off-11"] {
	margin-left: 91.66667%;
}

[class*="grid"] > [push-right*="off-0"] {
	margin-right: 0;
}

[class*="grid"] > [push-right*="off-1"] {
	margin-right: 8.33333%;
}

[class*="grid"] > [push-right*="off-2"] {
	margin-right: 16.66667%;
}

[class*="grid"] > [push-right*="off-3"] {
	margin-right: 25%;
}

[class*="grid"] > [push-right*="off-4"] {
	margin-right: 33.33333%;
}

[class*="grid"] > [push-right*="off-5"] {
	margin-right: 41.66667%;
}

[class*="grid"] > [push-right*="off-6"] {
	margin-right: 50%;
}

[class*="grid"] > [push-right*="off-6"] {
	margin-right: 50%;
}

[class*="grid"] > [push-right*="off-7"] {
	margin-right: 58.33333%;
}

[class*="grid"] > [push-right*="off-8"] {
	margin-right: 66.66667%;
}

[class*="grid"] > [push-right*="off-9"] {
	margin-right: 75%;
}

[class*="grid"] > [push-right*="off-10"] {
	margin-right: 83.33333%;
}

[class*="grid"] > [push-right*="off-11"] {
	margin-right: 91.66667%;
}

@media screen and (max-width: 75em) {
	[class*='grid'] > [class*="_lg-1"] {
		flex-basis: 8.33333%;
		max-width: 8.33333%;
	}
	[class*='grid'] > [class*="_lg-2"] {
		flex-basis: 16.66667%;
		max-width: 16.66667%;
	}
	[class*='grid'] > [class*="_lg-3"] {
		flex-basis: 25%;
		max-width: 25%;
	}
	[class*='grid'] > [class*="_lg-4"] {
		flex-basis: 33.33333%;
		max-width: 33.33333%;
	}
	[class*='grid'] > [class*="_lg-5"] {
		flex-basis: 41.66667%;
		max-width: 41.66667%;
	}
	[class*='grid'] > [class*="_lg-6"] {
		flex-basis: 50%;
		max-width: 50%;
	}
	[class*='grid'] > [class*="_lg-7"] {
		flex-basis: 58.33333%;
		max-width: 58.33333%;
	}
	[class*='grid'] > [class*="_lg-8"] {
		flex-basis: 66.66667%;
		max-width: 66.66667%;
	}
	[class*='grid'] > [class*="_lg-9"] {
		flex-basis: 75%;
		max-width: 75%;
	}
	[class*='grid'] > [class*="_lg-10"] {
		flex-basis: 83.33333%;
		max-width: 83.33333%;
	}
	[class*='grid'] > [class*="_lg-11"] {
		flex-basis: 91.66667%;
		max-width: 91.66667%;
	}
	[class*='grid'] > [class*="_lg-12"] {
		flex-basis: 100%;
		max-width: 100%;
	}
	[class*="grid"] > [push-left*="_lg-0"] {
		margin-left: 0;
	}
	[class*="grid"] > [push-left*="_lg-1"] {
		margin-left: 8.33333%;
	}
	[class*="grid"] > [push-left*="_lg-2"] {
		margin-left: 16.66667%;
	}
	[class*="grid"] > [push-left*="_lg-3"] {
		margin-left: 25%;
	}
	[class*="grid"] > [push-left*="_lg-4"] {
		margin-left: 33.33333%;
	}
	[class*="grid"] > [push-left*="_lg-5"] {
		margin-left: 41.66667%;
	}
	[class*="grid"] > [push-left*="_lg-6"] {
		margin-left: 50%;
	}
	[class*="grid"] > [push-left*="_lg-6"] {
		margin-left: 50%;
	}
	[class*="grid"] > [push-left*="_lg-7"] {
		margin-left: 58.33333%;
	}
	[class*="grid"] > [push-left*="_lg-8"] {
		margin-left: 66.66667%;
	}
	[class*="grid"] > [push-left*="_lg-9"] {
		margin-left: 75%;
	}
	[class*="grid"] > [push-left*="_lg-10"] {
		margin-left: 83.33333%;
	}
	[class*="grid"] > [push-left*="_lg-11"] {
		margin-left: 91.66667%;
	}
	[class*="grid"] > [push-right*="_lg-0"] {
		margin-right: 0;
	}
	[class*="grid"] > [push-right*="_lg-1"] {
		margin-right: 8.33333%;
	}
	[class*="grid"] > [push-right*="_lg-2"] {
		margin-right: 16.66667%;
	}
	[class*="grid"] > [push-right*="_lg-3"] {
		margin-right: 25%;
	}
	[class*="grid"] > [push-right*="_lg-4"] {
		margin-right: 33.33333%;
	}
	[class*="grid"] > [push-right*="_lg-5"] {
		margin-right: 41.66667%;
	}
	[class*="grid"] > [push-right*="_lg-6"] {
		margin-right: 50%;
	}
	[class*="grid"] > [push-right*="_lg-6"] {
		margin-right: 50%;
	}
	[class*="grid"] > [push-right*="_lg-7"] {
		margin-right: 58.33333%;
	}
	[class*="grid"] > [push-right*="_lg-8"] {
		margin-right: 66.66667%;
	}
	[class*="grid"] > [push-right*="_lg-9"] {
		margin-right: 75%;
	}
	[class*="grid"] > [push-right*="_lg-10"] {
		margin-right: 83.33333%;
	}
	[class*="grid"] > [push-right*="_lg-11"] {
		margin-right: 91.66667%;
	}
}

@media screen and (max-width: 62em) {
	[class*='grid'] > [class*="_md-1"] {
		flex-basis: 8.33333%;
		max-width: 8.33333%;
	}
	[class*='grid'] > [class*="_md-2"] {
		flex-basis: 16.66667%;
		max-width: 16.66667%;
	}
	[class*='grid'] > [class*="_md-3"] {
		flex-basis: 25%;
		max-width: 25%;
	}
	[class*='grid'] > [class*="_md-4"] {
		flex-basis: 33.33333%;
		max-width: 33.33333%;
	}
	[class*='grid'] > [class*="_md-5"] {
		flex-basis: 41.66667%;
		max-width: 41.66667%;
	}
	[class*='grid'] > [class*="_md-6"] {
		flex-basis: 50%;
		max-width: 50%;
	}
	[class*='grid'] > [class*="_md-7"] {
		flex-basis: 58.33333%;
		max-width: 58.33333%;
	}
	[class*='grid'] > [class*="_md-8"] {
		flex-basis: 66.66667%;
		max-width: 66.66667%;
	}
	[class*='grid'] > [class*="_md-9"] {
		flex-basis: 75%;
		max-width: 75%;
	}
	[class*='grid'] > [class*="_md-10"] {
		flex-basis: 83.33333%;
		max-width: 83.33333%;
	}
	[class*='grid'] > [class*="_md-11"] {
		flex-basis: 91.66667%;
		max-width: 91.66667%;
	}
	[class*='grid'] > [class*="_md-12"] {
		flex-basis: 100%;
		max-width: 100%;
	}
	[class*="grid"] > [push-left*="_md-0"] {
		margin-left: 0;
	}
	[class*="grid"] > [push-left*="_md-1"] {
		margin-left: 8.33333%;
	}
	[class*="grid"] > [push-left*="_md-2"] {
		margin-left: 16.66667%;
	}
	[class*="grid"] > [push-left*="_md-3"] {
		margin-left: 25%;
	}
	[class*="grid"] > [push-left*="_md-4"] {
		margin-left: 33.33333%;
	}
	[class*="grid"] > [push-left*="_md-5"] {
		margin-left: 41.66667%;
	}
	[class*="grid"] > [push-left*="_md-6"] {
		margin-left: 50%;
	}
	[class*="grid"] > [push-left*="_md-6"] {
		margin-left: 50%;
	}
	[class*="grid"] > [push-left*="_md-7"] {
		margin-left: 58.33333%;
	}
	[class*="grid"] > [push-left*="_md-8"] {
		margin-left: 66.66667%;
	}
	[class*="grid"] > [push-left*="_md-9"] {
		margin-left: 75%;
	}
	[class*="grid"] > [push-left*="_md-10"] {
		margin-left: 83.33333%;
	}
	[class*="grid"] > [push-left*="_md-11"] {
		margin-left: 91.66667%;
	}
	[class*="grid"] > [push-right*="_md-0"] {
		margin-right: 0;
	}
	[class*="grid"] > [push-right*="_md-1"] {
		margin-right: 8.33333%;
	}
	[class*="grid"] > [push-right*="_md-2"] {
		margin-right: 16.66667%;
	}
	[class*="grid"] > [push-right*="_md-3"] {
		margin-right: 25%;
	}
	[class*="grid"] > [push-right*="_md-4"] {
		margin-right: 33.33333%;
	}
	[class*="grid"] > [push-right*="_md-5"] {
		margin-right: 41.66667%;
	}
	[class*="grid"] > [push-right*="_md-6"] {
		margin-right: 50%;
	}
	[class*="grid"] > [push-right*="_md-6"] {
		margin-right: 50%;
	}
	[class*="grid"] > [push-right*="_md-7"] {
		margin-right: 58.33333%;
	}
	[class*="grid"] > [push-right*="_md-8"] {
		margin-right: 66.66667%;
	}
	[class*="grid"] > [push-right*="_md-9"] {
		margin-right: 75%;
	}
	[class*="grid"] > [push-right*="_md-10"] {
		margin-right: 83.33333%;
	}
	[class*="grid"] > [push-right*="_md-11"] {
		margin-right: 91.66667%;
	}
}

@media screen and (max-width: 48em) {
	[class*='grid'] > [class*="_sm-1"] {
		flex-basis: 8.33333%;
		max-width: 8.33333%;
	}
	[class*='grid'] > [class*="_sm-2"] {
		flex-basis: 16.66667%;
		max-width: 16.66667%;
	}
	[class*='grid'] > [class*="_sm-3"] {
		flex-basis: 25%;
		max-width: 25%;
	}
	[class*='grid'] > [class*="_sm-4"] {
		flex-basis: 33.33333%;
		max-width: 33.33333%;
	}
	[class*='grid'] > [class*="_sm-5"] {
		flex-basis: 41.66667%;
		max-width: 41.66667%;
	}
	[class*='grid'] > [class*="_sm-6"] {
		flex-basis: 50%;
		max-width: 50%;
	}
	[class*='grid'] > [class*="_sm-7"] {
		flex-basis: 58.33333%;
		max-width: 58.33333%;
	}
	[class*='grid'] > [class*="_sm-8"] {
		flex-basis: 66.66667%;
		max-width: 66.66667%;
	}
	[class*='grid'] > [class*="_sm-9"] {
		flex-basis: 75%;
		max-width: 75%;
	}
	[class*='grid'] > [class*="_sm-10"] {
		flex-basis: 83.33333%;
		max-width: 83.33333%;
	}
	[class*='grid'] > [class*="_sm-11"] {
		flex-basis: 91.66667%;
		max-width: 91.66667%;
	}
	[class*='grid'] > [class*="_sm-12"] {
		flex-basis: 100%;
		max-width: 100%;
	}
	[class*="grid"] > [push-left*="_sm-0"] {
		margin-left: 0;
	}
	[class*="grid"] > [push-left*="_sm-1"] {
		margin-left: 8.33333%;
	}
	[class*="grid"] > [push-left*="_sm-2"] {
		margin-left: 16.66667%;
	}
	[class*="grid"] > [push-left*="_sm-3"] {
		margin-left: 25%;
	}
	[class*="grid"] > [push-left*="_sm-4"] {
		margin-left: 33.33333%;
	}
	[class*="grid"] > [push-left*="_sm-5"] {
		margin-left: 41.66667%;
	}
	[class*="grid"] > [push-left*="_sm-6"] {
		margin-left: 50%;
	}
	[class*="grid"] > [push-left*="_sm-6"] {
		margin-left: 50%;
	}
	[class*="grid"] > [push-left*="_sm-7"] {
		margin-left: 58.33333%;
	}
	[class*="grid"] > [push-left*="_sm-8"] {
		margin-left: 66.66667%;
	}
	[class*="grid"] > [push-left*="_sm-9"] {
		margin-left: 75%;
	}
	[class*="grid"] > [push-left*="_sm-10"] {
		margin-left: 83.33333%;
	}
	[class*="grid"] > [push-left*="_sm-11"] {
		margin-left: 91.66667%;
	}
	[class*="grid"] > [push-right*="_sm-0"] {
		margin-right: 0;
	}
	[class*="grid"] > [push-right*="_sm-1"] {
		margin-right: 8.33333%;
	}
	[class*="grid"] > [push-right*="_sm-2"] {
		margin-right: 16.66667%;
	}
	[class*="grid"] > [push-right*="_sm-3"] {
		margin-right: 25%;
	}
	[class*="grid"] > [push-right*="_sm-4"] {
		margin-right: 33.33333%;
	}
	[class*="grid"] > [push-right*="_sm-5"] {
		margin-right: 41.66667%;
	}
	[class*="grid"] > [push-right*="_sm-6"] {
		margin-right: 50%;
	}
	[class*="grid"] > [push-right*="_sm-6"] {
		margin-right: 50%;
	}
	[class*="grid"] > [push-right*="_sm-7"] {
		margin-right: 58.33333%;
	}
	[class*="grid"] > [push-right*="_sm-8"] {
		margin-right: 66.66667%;
	}
	[class*="grid"] > [push-right*="_sm-9"] {
		margin-right: 75%;
	}
	[class*="grid"] > [push-right*="_sm-10"] {
		margin-right: 83.33333%;
	}
	[class*="grid"] > [push-right*="_sm-11"] {
		margin-right: 91.66667%;
	}
}

@media screen and (max-width: 34em) {
	[class*='grid'] > [class*="_xs-1"] {
		flex-basis: 8.33333%;
		max-width: 8.33333%;
	}
	[class*='grid'] > [class*="_xs-2"] {
		flex-basis: 16.66667%;
		max-width: 16.66667%;
	}
	[class*='grid'] > [class*="_xs-3"] {
		flex-basis: 25%;
		max-width: 25%;
	}
	[class*='grid'] > [class*="_xs-4"] {
		flex-basis: 33.33333%;
		max-width: 33.33333%;
	}
	[class*='grid'] > [class*="_xs-5"] {
		flex-basis: 41.66667%;
		max-width: 41.66667%;
	}
	[class*='grid'] > [class*="_xs-6"] {
		flex-basis: 50%;
		max-width: 50%;
	}
	[class*='grid'] > [class*="_xs-7"] {
		flex-basis: 58.33333%;
		max-width: 58.33333%;
	}
	[class*='grid'] > [class*="_xs-8"] {
		flex-basis: 66.66667%;
		max-width: 66.66667%;
	}
	[class*='grid'] > [class*="_xs-9"] {
		flex-basis: 75%;
		max-width: 75%;
	}
	[class*='grid'] > [class*="_xs-10"] {
		flex-basis: 83.33333%;
		max-width: 83.33333%;
	}
	[class*='grid'] > [class*="_xs-11"] {
		flex-basis: 91.66667%;
		max-width: 91.66667%;
	}
	[class*='grid'] > [class*="_xs-12"] {
		flex-basis: 100%;
		max-width: 100%;
	}
	[class*="grid"] > [push-left*="_xs-0"] {
		margin-left: 0;
	}
	[class*="grid"] > [push-left*="_xs-1"] {
		margin-left: 8.33333%;
	}
	[class*="grid"] > [push-left*="_xs-2"] {
		margin-left: 16.66667%;
	}
	[class*="grid"] > [push-left*="_xs-3"] {
		margin-left: 25%;
	}
	[class*="grid"] > [push-left*="_xs-4"] {
		margin-left: 33.33333%;
	}
	[class*="grid"] > [push-left*="_xs-5"] {
		margin-left: 41.66667%;
	}
	[class*="grid"] > [push-left*="_xs-6"] {
		margin-left: 50%;
	}
	[class*="grid"] > [push-left*="_xs-6"] {
		margin-left: 50%;
	}
	[class*="grid"] > [push-left*="_xs-7"] {
		margin-left: 58.33333%;
	}
	[class*="grid"] > [push-left*="_xs-8"] {
		margin-left: 66.66667%;
	}
	[class*="grid"] > [push-left*="_xs-9"] {
		margin-left: 75%;
	}
	[class*="grid"] > [push-left*="_xs-10"] {
		margin-left: 83.33333%;
	}
	[class*="grid"] > [push-left*="_xs-11"] {
		margin-left: 91.66667%;
	}
	[class*="grid"] > [push-right*="_xs-0"] {
		margin-right: 0;
	}
	[class*="grid"] > [push-right*="_xs-1"] {
		margin-right: 8.33333%;
	}
	[class*="grid"] > [push-right*="_xs-2"] {
		margin-right: 16.66667%;
	}
	[class*="grid"] > [push-right*="_xs-3"] {
		margin-right: 25%;
	}
	[class*="grid"] > [push-right*="_xs-4"] {
		margin-right: 33.33333%;
	}
	[class*="grid"] > [push-right*="_xs-5"] {
		margin-right: 41.66667%;
	}
	[class*="grid"] > [push-right*="_xs-6"] {
		margin-right: 50%;
	}
	[class*="grid"] > [push-right*="_xs-6"] {
		margin-right: 50%;
	}
	[class*="grid"] > [push-right*="_xs-7"] {
		margin-right: 58.33333%;
	}
	[class*="grid"] > [push-right*="_xs-8"] {
		margin-right: 66.66667%;
	}
	[class*="grid"] > [push-right*="_xs-9"] {
		margin-right: 75%;
	}
	[class*="grid"] > [push-right*="_xs-10"] {
		margin-right: 83.33333%;
	}
	[class*="grid"] > [push-right*="_xs-11"] {
		margin-right: 91.66667%;
	}
}

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT
Copyright (c) 2015 Daniel Eden
*/
body {
	-webkit-backface-visibility: hidden;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.animated.infinite {
	animation-iteration-count: infinite;
}

.animated.hinge {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
}

.animated.bounceIn, .animated.bounceOut {
	-webkit-animation-duration: 0.75s;
	animation-duration: 0.75s;
}

.animated.flipOutX, .animated.flipOutY {
	-webkit-animation-duration: 0.75s;
	animation-duration: 0.75s;
}

@-webkit-keyframes flash {
	0%, 50%, 100% {
		opacity: 1;
	}
	25%, 75% {
		opacity: 0;
	}
}

@keyframes flash {
	0%, 50%, 100% {
		opacity: 1;
	}
	25%, 75% {
		opacity: 0;
	}
}

.flash, .button:hover {
	-webkit-animation-name: flash;
	animation-name: flash;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

@-webkit-keyframes slideInLeft {
	0% {
		-webkit-transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
	}
}

@keyframes slideInLeft {
	0% {
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

.slideInLeft, #wrapper #dialogue, #wrapper #background {
	-webkit-animation-name: slideInLeft;
	animation-name: slideInLeft;
}

@-webkit-keyframes slideInUp {
	0% {
		-webkit-transform: translate3d(0, 100%, 0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
	}
}

@keyframes slideInUp {
	0% {
		transform: translate3d(0, 100%, 0);
		visibility: visible;
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

.slideInUp, #dialogue,
#id,
#background {
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
	font-family: sans-serif;
	/* 1 */
	-ms-text-size-adjust: 100%;
	/* 2 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}

/**
 * Remove default margin.
 */
body {
	margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
	display: inline-block;
	/* 1 */
	vertical-align: baseline;
	/* 2 */
}

/**
 * Prevent displaying `audio` without controls in Mobile Safari 4/5/6/7.
 */
audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
	display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address inconsistent styling of `abbr[title]`.
 * 1. Correct styling in Firefox 39 and Opera 12.
 * 2. Correct missing styling in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none;
	/* 1 */
	text-decoration: underline;
	/* 2 */
	text-decoration: underline dotted;
	/* 2 */
}

/**
 * Address inconsistent styling of b and strong.
 * 1. Correct duplicate application of `bolder` in Safari 6.0.2.
 * 2. Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+.
 */
b,
strong {
	font-weight: inherit;
	/* 1 */
}

b,
strong {
	font-weight: bolder;
	/* 2 */
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
	background-color: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
	margin: 1em 40px;
}

/**
 * Address inconsistent styling of `hr`.
 * 1. Correct `box-sizing` set to `border-box` in Firefox.
 * 2. Correct `overflow` set to `hidden` in IE 8/9/10/11 and Edge 12.
 */
hr {
	box-sizing: content-box;
	/* 1 */
	height: 0;
	/* 1 */
	overflow: visible;
	/* 2 */
}

/**
 * Contain overflow in all browsers.
 */
pre {
	overflow: auto;
}

/**
 * 1. Correct inheritance and scaling of font-size for preformatted text.
 * 2. Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct font properties not being inherited.
 * 2. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
	font: inherit;
	/* 1 */
	margin: 0;
	/* 2 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	/* 2 */
	cursor: pointer;
	/* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Restore focus style in Firefox 4+ (unset by a rule above)
 */
button:-moz-focusring,
input:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * Address `appearance` set to `searchfield` in Safari and Chrome.
 */
input[type="search"] {
	-webkit-appearance: textfield;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
	border: 0;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
	overflow: auto;
}

/**
 * Restore font weight (unset by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
	font-weight: bold;
}

/* Reset
========================================================================== */
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::-webkit-input-placeholder {
	color: #000000;
}

::-moz-placeholder {
	color: #000000;
}

:-moz-placeholder {
	color: #000000;
}

:-ms-input-placeholder {
	color: #000000;
}

/* Typography
========================================================================== */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	src: url("../../fonts/roboto/Roboto-Medium-webfont.eot") format("embedded-opentype"), url("../../fonts/roboto/Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/Roboto-Medium-webfont.woff") format("woff"), url("../../fonts/roboto/Roboto-Medium-webfont.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Medium-webfont.svg#roboto-medium-webfont") format("svg");
}

body, #id {
	font-family: Roboto, Arial, Verdana, sans-serif;
}

@font-face {
	font-family: "Ubuntu Mono";
	font-style: normal;
	font-weight: normal;
	src: url("../../fonts/ubuntu/ubuntumono-r-webfont.eot") format("embedded-opentype"), url("../../fonts/ubuntu/ubuntumono-r-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/ubuntu/ubuntumono-r-webfont.woff2") format("woff2"), url("../../fonts/ubuntu/ubuntumono-r-webfont.woff") format("woff"), url("../../fonts/ubuntu/ubuntumono-r-webfont.ttf") format("truetype"), url("../../fonts/ubuntu/ubuntumono-r-webfont.svg#ubuntumono-r-webfont") format("svg");
}

#dialogue {
	font-family: Ubuntu Mono, Monaco, Consolas, Courier, monospace;
}

@font-face {
	font-family: "Ubuntu Mono";
	font-style: normal;
	font-weight: bold;
	src: url("../../fonts/ubuntu/ubuntumono-b-webfont.eot") format("embedded-opentype"), url("../../fonts/ubuntu/ubuntumono-b-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/ubuntu/ubuntumono-b-webfont.woff2") format("woff2"), url("../../fonts/ubuntu/ubuntumono-b-webfont.woff") format("woff"), url("../../fonts/ubuntu/ubuntumono-b-webfont.ttf") format("truetype"), url("../../fonts/ubuntu/ubuntumono-b-webfont.svg#ubuntumono-b-webfont") format("svg");
}

#dialogue {
	font-family: Ubuntu Mono, Monaco, Consolas, Courier, monospace;
}

/* Body
========================================================================== */
html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100%;
	height: 100vh;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background: #ff5c5c;
	color: #ffffff;
	font-size 9.6px: line-height 0.8;
}

@media screen and (max-width: 34em) {
	body {
		font-size: 9.6px;
		line-height: 0.8;
	}
}

@media screen and (max-width: 48em) {
	body {
		font-size: 12.8px;
		line-height: 1;
	}
}

@media screen and (max-width: 62em) {
	body {
		font-size: 12.8px;
		line-height: 1;
	}
}

@media screen and (max-width: 75em) {
	body {
		font-size: 12.8px;
		line-height: 1;
	}
}

#wrapper {
	width: 100%;
	height: 100%;
}

#wrapper #dialogue {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

@media screen and (max-width: 34em) {
	#wrapper #dialogue {
		height: 70vh;
		-webkit-animation-delay: 1.5s;
		animation-delay: 1.5s;
	}
}

@media screen and (max-width: 34em) {
	#wrapper #id {
		height: 20vh;
		-webkit-animation-delay: 0.8s;
		animation-delay: 0.8s;
	}
}

@media screen and (min-width: 34em) {
	#wrapper #background {
		order: -1;
	}
}

@media screen and (max-width: 34em) {
	#wrapper #background {
		height: 10vh;
	}
}

#background {
	height: 100%;
	width: 100%;
	background: url(../images/background.png) repeat;
	background-color: #ff5c5c;
	background-position: right center;
	background-size: 0.5em;
	background-image: url(../images/background.svg);
}

@media screen and (max-width: 34em) {
	#background {
		background-position: center top;
	}
}

#dialogue {
	padding: 0 3%;
}

#id {
	width: 100%;
	padding: 0 10%;
	font-size: 1rem;
	line-height: 1;
}

@media screen and (max-width: 34em) {
	#id {
		padding: 0 3% 1em;
	}
}

#id div + div {
	margin-top: 0.5em;
}

#id #about-name {
	text-transform: uppercase;
}

#id #about-name h1 {
	font-size: 1.5em;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 0;
}

#id #about-telephone {
	font-size: 1em;
	color: #fffd76;
}

@-webkit-keyframes stripe {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 60px 30px;
	}
}

@-moz-keyframes stripe {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 60px 30px;
	}
}

@-ms-keyframes stripe {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 60px 30px;
	}
}

@-o-keyframes stripe {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 60px 30px;
	}
}

@keyframes stripe {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 60px 30px;
	}
}

#about-photo {
	text-align: center;
	background-color: #ff5c5c;
}

#about-photo > object {
	background: #fff;
	animation: barberpole 0.5s linear infinite;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

#photo {
	width: 35%;
}

@media screen and (max-width: 34em) {
	#photo {
		height: 20vh;
		width: auto;
	}
}

#about-social a:nth($i) {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

#about-social a:nth($i) {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

#about-social a:nth($i) {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}

.button {
	padding: 0.25em 0.5em;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	line-height: 1.5em;
	color: #fffd76;
}

.button:hover {
	cursor: pointer;
}

.button svg {
	fill: currentColor;
}

.button:hover {
	-webkit-animation-delay: 0;
	animation-delay: 0;
}

.icon {
	width: 32px;
	height: 32px;
	background: url(../images/sprite.png);
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 50%;
	background-image: url(../images/sprite.svg);
}

.icon-save {
	background-position: 0 0;
}

.icon-email {
	background-position: -48px 0;
}

.icon-download {
	background-position: 0 -48px;
}

.icon-twitter {
	background-position: -48px -48px;
}

.icon-linkedin {
	background-position: -96px -48px;
}

/*# sourceMappingURL=main.css.map */