/* ==========================================================================
* ==========================================================================
*
* Soap Operator
* CV Style
*
* ==========================================================================
========================================================================== */

/* Table of Content
==================================================
#Basic Styles
#Typography
#Layout
#CSS Animations
#Form
#Custom
#JS Special
#Media Queries
*/

/* ==========================================================================
Basic Styles
========================================================================== */

body {
    background: #ff5c5c;
    font: 16px/1 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    padding:0 !important;
}
a,
a:visited {
    color: #fff;
    text-decoration: none;
    outline: 0;
}
a:hover,
a:focus {
    color: #fffd76;
    text-decoration: blink;
}
p a,
p a:visited {
    line-height: inherit;
}
a[href$=".pdf"]:before {
    font-family: FontAwesome;
    padding: 0;
    margin: 0 0.5rem 0 0.3rem;
    content: "\f1c1";
    width:12px;
    height:12px;
    display: inline-block;
}
a.external-link:after {
    font-family: FontAwesome;
    padding: 0;
    margin: 0 0.5rem 0 0.3rem;
    content: "\f08e";
    width:12px;
    height:12px;
    display: inline-block;
}
a[href*="soapoperator.com"]:after {
    font-family: FontAwesome;
    padding: 0;
    content: "\f19c";
    margin: 0;
    content: none;
    background: none no-repeat;
}
ul, ol {
    margin:0;
    padding:0;
}
ul {
    list-style: none outside;
}
ul li {
    display:inline-block;
}
iframe {
    border: none;
    position: relative;
    z-index: 1000;
}


/* ==========================================================================
Typography
========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
    font-weight: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size:1em;
}
.content h2 {
    display: none;
}

/* ==========================================================================
   Custom Class
   ========================================================================== */

/**
 * Display
 */

.on {
	display:block;
}
.off {
	display:none;
}

/**
 * Align
 */

.left {
	float:left;
}
.right {
	float:right;
}

/**
 * Under the block
 */

.clr {
	clear: both;
	height: 0;
	line-height: 0;
	border: none;
}

/**
 * Ellipse string
 */
.ellipsis {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

/**
 * Responsive Image
 */
.fluid-img{
    max-width:100%;
    height:auto;
    display:block;
}

/**
 * Video responsive
 */
.video-responsive {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/**
 * Tooltip
 */
span.tooltip,
a.tooltip {
	display:none;
	position: absolute;
	width: auto;
	height: 20px;
	height: 2rem;
	line-height: 20px;
	line-height: 2rem;
	padding: 10px;
	padding: 1rem;
	font-size: 14px;
	font-size: 1.4rem;
	text-align: center;
	color: rgb(255, 255, 255);
	background: rgba(0, 0, 0, 0.8);
	text-shadow: rgba(0, 0, 0, 1.0) 1px 1px 1px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
}
span.tooltip:hover,
a.tooltip:hover {
	display:block;
}
span.tooltip:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-width: 10px;
	border-width: 1rem;
	border-style: solid;
	border-color: rgba(0,0,0,0.8) transparent transparent transparent;
	top: 40px;
	top: 4rem;
	left: 50%;
	margin-left:-5px;
	margin-left:-0.5rem;
}

*[data-tooltip] {
	position: relative;
	text-decoration: none;
}
*[data-tooltip]:before {
	content: "";
	position: absolute;
	top: 100%;
	left: 15px;
	left: 1.5rem;
	margin: -5px 0 0 0;
	margin: -0.5rem 0 0 0;
	width: 0;
	height: 0;
	border-width: 10px;
	border-width: 1rem;
	border-style: solid;
	border-color: transparent transparent rgba(0,0,0,0.8) transparent;
}
*[data-tooltip]:after {
	content: attr(data-tooltip);
	position: absolute;
	top: 100%;
	left: 0;
	margin: 15px 0 0 0;
	margin: 1.5rem 0 0 0;
	color: #fff;
	font-family:sans-serif;
	font-size:smaller;
	background: rgba(0,0,0,0.8);
	padding: 5px 10px;
	padding: 0.5rem 1rem;
	white-space: nowrap;
}
*[data-tooltip]:before,
*[data-tooltip]:after {
	visibility: hidden;
	z-index:2000;
}
*[data-tooltip]:hover:before,
*[data-tooltip]:hover:after {
	visibility: visible;
	top:105%;
	transition: all 0.3s ease-out 0.3s;
	-moz-transition: all 0.3s ease-out 0.3s;
	-ms-transition: all 0.3s ease-out 0.3s;
	-webkit-transition: all 0.3s ease-out 0.3s;
	-o-transition: all 0.3s ease-out 0.3s;
}

/**
 * Image Css3 Filter
 */
img.blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}
img.blur-hover:hover {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}
img.brightness {filter: brightness(0.2);-webkit-filter: brightness(0.2);-moz-filter: brightness(0.2);-o-filter: brightness(0.2);-ms-filter: brightness(0.2);}
img.brightness-hover:hover {filter: brightness(0.2);-webkit-filter: brightness(0.2);-moz-filter: brightness(0.2);-o-filter: brightness(0.2);-ms-filter: brightness(0.2);}
img.saturation {filter: saturate(50%);-webkit-filter: saturate(50%);-moz-filter: saturate(50%);-o-filter: saturate(50%);-ms-filter: saturate(50%);}
img.saturation-hover:hover {filter: saturate(50%);-webkit-filter: saturate(50%);-moz-filter: saturate(50%);-o-filter: saturate(50%);-ms-filter: saturate(50%);}
img.huerotate {filter: hue-rotate(20deg);-webkit-filter: hue-rotate(20deg);-moz-filter: hue-rotate(20deg);-o-filter: hue-rotate(20deg);-ms-filter: hue-rotate(20deg);}
img.huerotate-hover:hover {filter: hue-rotate(20deg);-webkit-filter: hue-rotate(20deg);-moz-filter: hue-rotate(20deg);-o-filter: hue-rotate(20deg);-ms-filter: hue-rotate(20deg);}
img.contrast {filter: contrast(150%);-webkit-filter: contrast(150%);-moz-filter: contrast(150%);-o-filter: contrast(150%);-ms-filter: contrast(150%);}
img.contrast-hover:hover {filter: contrast(150%);-webkit-filter: contrast(150%);-moz-filter: contrast(150%);-o-filter: contrast(150%);-ms-filter: contrast(150%);}
img.invert {filter: invert(100%);-webkit-filter: invert(100%);-moz-filter: invert(100%);-o-filter: invert(100%);-ms-filter: invert(100%);}
img.invert-hover:hover {filter: invert(100%);-webkit-filter: invert(100%);-moz-filter: invert(100%);-o-filter: invert(100%);-ms-filter: invert(100%);}
img.grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
}
img.grayscale-hover:hover {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
}
img.sepia {
    filter: sepia(100%);
    -webkit-filter: sepia(100%);
    s-moz-filter: sepia(100%);
    -o-filter: sepia(100%);
    -ms-filter: sepia(100%);
}
img.sepia-hover:hover {
    filter: sepia(100%);
    -webkit-filter: sepia(100%);
    s-moz-filter: sepia(100%);
    -o-filter: sepia(100%);
    -ms-filter: sepia(100%);
}

/* ==========================================================================
   Fonts
   ========================================================================== */

/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* Style adjustments for retina devices */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.col-1, .col-2, .col-narrow, .col-wide { width:100% !important; }
}

/* ==========================================================================
Layout
========================================================================== */

#wrapper {
    width:100%;
    height:100%;
    padding:1rem;
    position: relative;
}
#background {
    width:100%;
    height:100%;
    position: absolute;
    z-index: 0;
}
#container {
    width:100%;
    padding:4rem;
    position: relative;
    z-index: 1
}
#footer {
    width:100%;
    max-width:1400px;
    height:30px;
    height:3rem;
    background:#fff;
    margin:0 auto;
    padding:0 10px;
    position:relative;
    z-index:100;
}
#footer div.left,
#footer div.right {
    line-height:2;
    overflow: hidden;
}
#footer ul li {
    line-height:2;
    margin-right: 5px;
    margin-right: 0.5rem;
}

/* ==========================================================================
CSS Animations
========================================================================== */

@-webkit-keyframes flash {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: 0;}
}
@keyframes flash {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: 0;}
}

@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}
@keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);transform: translateX(10px);}
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
    0% { -webkit-transform: scale(1); transform: scale(1); }
    50% { -webkit-transform: scale(1.1); transform: scale(1.1); }
    100% { -webkit-transform: scale(1); transform: scale(1); }
}

/* ==========================================================================
Form
========================================================================== */

input, textarea {
    padding: 4px;
    padding: 0.4rem;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 70%/100% Verdana, Tahoma, sans-serif;
    width: 100%;
    background: #FFFFFF;
    color:#000;
}
textarea {
    width: 100%;
    height: 70px;
    height: 7rem;
    line-height: 150%;
    color:#000;
}
input:hover, textarea:hover,
input:focus, textarea:focus {
    border-color: #000;
}
.form label {
    margin-left: 10px;
    margin-left: 1rem;
    color: #999999;
}
.submit input {
    width: auto;
    padding: 9px 15px;
    padding: 0.9rem 1.5rem;
    background: #444444;
    border: 0;
    font-size: 70%;
    color: #FFFFFF;
}

/* ==========================================================================
Custom
========================================================================== */

.highlight {
    background-color: #ff5c5c;
}

/* **************** */
/* Background Style */
/* **************** */

.background-text {
    font-size: 2.5rem;
    line-height: 1.1;
    letter-spacing: 0.5rem;
    margin: 0;
    padding: 0;
    display: none;
}

/* *********** */
/* Box Content */
/* *********** */


/* ****** */
/* Footer */
/* ****** */


/* ==========================================================================
JS Special
========================================================================== */


/* ==========================================================================
Media Queries
========================================================================== */

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media
    only screen and (max-width: 800px) {
        body {overflow:inherit;}
        #wrapper { overflow:inherit;padding:15px;padding:1.5rem;}
    }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media
    only screen and (max-width: 479px) {
        body {overflow:inherit;}
        #wrapper { overflow:inherit;padding:15px;padding:1.5rem;}
    }

/* Style adjustments for retina devices */
@media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {

    }
