// compileOnSave: true, compileCompressed: true, compileExpanded: true, sourceMap: false, compressedFilenamePattern: ../css/$1.min.css, expandedFilenamePattern: ../css/$1.css

/// utils
/// ==========================================================================
@import "utils/functions";
@import "utils/mixins";
@import "utils/variables";
@import "utils/placeholders";

/// vendors
/// ==========================================================================
@import "vendors/gridlex";
@import "vendors/animate";

/// base
/// ==========================================================================
@import "base/normalize";
@import "base/reset";
@import "base/typography";

/// layout
/// ==========================================================================
@import "layout/body";
@import "layout/grid";
@import "layout/background";
@import "layout/id";
@import "layout/footer";
@import "layout/modal";

/// components
/// ==========================================================================
@import "components/photo";
@import "components/buttons";
@import "components/spinner";

/// pages
/// ==========================================================================
/// Not this time

/// themes
/// ==========================================================================
/// Not this time


/// Custom
/// ==========================================================================

#wrapper {
    display: table;

    > * {
        display: table-cell;
        width: 50%;
        vertical-align: middle;
    }

    #id {

    }

    #background {

    }
}

#perso {
    margin-left: 80px;
}

#photo {
    background-color: $color-primary;
    width: 148px;
    height:203px;

    &.ie8 {
        display: none;
    }
}

#about-social {
    a {
        text-decoration: none;
    }
}

#footer {
    .content-wrapper {
        margin-top: 80px;
    }
}
