// compileOnSave: true, compileCompressed: true, compileExpanded: true, sourceMap: false, compressedFilenamePattern: ../css/$1.min.css, expandedFilenamePattern: ../css/$1.css

/// utils
/// ==========================================================================
@import "utils/functions";
@import "utils/mixins";
@import "utils/variables";
//@import "utils/placeholders";

/// vendors
/// ==========================================================================
//@import "vendors/gridlex";
//@import "vendors/animate";

/// base
/// ==========================================================================
@import "base/normalize";
@import "base/reset";
//@import "base/typography";

// /// layout
// /// ==========================================================================
// @import "layout/body";
// @import "layout/structure";
// @import "layout/background";
// @import "layout/id";
// @import "layout/footer";
// @import "layout/modal";
//
// /// components
// /// ==========================================================================
// @import "components/photo";
// @import "components/buttons";
// @import "components/spinner";

/// pages
/// ==========================================================================
/// Not this time

/// themes
/// ==========================================================================
/// Not this time


/// Custom
/// ==========================================================================

body {
    background-color: $color-background;
}

.hide {
    display: none;
}

#wrapper {
    margin: 30px;

    > * {
        vertical-align: top;
    }

    #id {

    }

    #background {

    }
}

#perso {
    margin-left: 80px;
}

#photo {
    background-color: $color-primary;
    width: 148px;

    img {
        width: 148px;
        height: auto;
    }

    &.ie8 {
        display: none;
    }
}

#about-info {
    margin-left: 20px;
    color: $color-primary;
}

#about-name {

    h1 {
        margin: 0 0 20px;
    }
}

#about-telephone {
    color: $color-secondary;
    font-weight: bold;
}

#about-social {
    margin-top: 20px;

    p {
        margin-top: 0;
        margin-bottom: 7px;
    }

    a {
        text-decoration: none;
        color: $color-primary;

        &:hover {
            text-decoration: underline;
        }
    }
}

#footer {
    padding: 40px 80px 20px;
    text-align: center;
    width: 100%;

    p {
        margin: 0 auto 20px;
        font-size: 10px;
        max-width: 40%;
    }
}
