// main: ../main.scss

#background {
    height: 100%;
    width: 100%;
    background: url(../images/background.png) repeat;
    background-color: $color-background;
    background-size: 1rem 1.5rem;
    background-size: 1vmax;
    background-image: url(../images/background.svg);
    background-position: right center;
    display: inline-flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;

    @include breakpoint-to(S) {
        background-position: center top;
    };

}
