// main: ../main.scss

/* Body
========================================================================== */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    -ms-text-size-adjust    : 100%;
    -webkit-text-size-adjust: 100%;
    background              : $color-background;
    color                   : $color-text;
    @extend %font-family-sans-serif;
    @include mediaqueries-map($body-font-sizes);
}
