// main: ../main.scss

@include keyframes(blink-caret){
    50% {
        opacity: 0;
    }
};

#dialogue {
    padding: 0 2%;
    font-size: 3em;
    font-size: 3vmax;

    @include breakpoint-to(S){
        font-size: 4em;
        font-size: 4vmax;
        padding: 3rem 2rem;
    };

}

#dial {
    width: 100%;

    .sequence {
        @extend %font-family-monospace;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        @include prefix(flex-direction,column,-webkit);

        .sequence__content {
            position: relative;
            line-height: 1;
            margin: 0.2em 0 0 2em;
            font-weight: 600;

            span {
                hyphens: auto;
            }

            &:before {
                content: "~$";
                position: absolute;
                top: 0;
                right: 100%;
                margin-right: 0.5em;
            }

            &.no-answer {
                span:after {
                    content:'_';
                    @include animation(blink-caret .5s step-end infinite alternate);
                }
            }

            //&.actor__content {
            //    font-weight: 600;
            //}

            &.guest__content {
                &::before {
                    content: "~#";
                }
            }

        }

        .answer-form {
            .answer-input,
            .answer-input:focus {
                border: none;
                outline: none;
                background: transparent;
                color: $color-text; // $color-text
                @include placeholder {
                    color: $color-text;
                };
            }

            .answer-input {
                width: 100%;
                box-shadow: none;
                resize: none;
                text-shadow: 0px 2px 4px rgba(0,0,0,0.6);

                &:hover {
                    cursor: text;
                }

                & + pre {
                    display: none;;
                }

                &:focus {

                    & + pre {
                        display: block;
                    }

                }
            }

            pre {
                font-size:0.3em;
                line-height: 1.1;
                color: $black;
                display: block;
                width: auto;
                font-weight: normal;

                @include breakpoint-to(S){
                    font-size:.4em;
                };

                b {
                    @include animation(blink-caret .5s step-end infinite alternate);
                }
            }
        }
    }
}
