// main: ../main.scss

$height-dialogue-mobile: 70vh !default;
$height-background-mobile: 10vh !default;
$height-id-mobile: 20vh !default;

#wrapper {
    width:100%;
    height:100%;

    #dialogue {
        @extend .slideInLeft;
        @include prefix(animation-delay,0.3s,-webkit);

        @include breakpoint-to(S) {
            height:$height-dialogue-mobile;
            @include prefix(animation-delay,1.5s,-webkit);
        }
    }

    #id {
        @include breakpoint-to(S) {
            height:$height-id-mobile;
            @include prefix(animation-delay,0.8s,-webkit);
        }
    }

    #background {
        @extend .slideInLeft;

        @include breakpoint-from(S) {
            order: -1;
        }
        @include breakpoint-to(S) {
            height:$height-background-mobile;
        }
    }

}

@include breakpoint-to(S) {
    #dialogue,
    #id,
    #background {
        @extend .slideInUp;
    }
}
