// main: ../main.scss

#id {
    width: 100%;
    @extend %font-family-sans-serif;
    font-size: 1.2rem;
    font-size: 1.2vmax;

    @include mediaqueries(tablet){
        font-size: 2rem;
        font-size: 2vmax;
    };

    > article {
        width: 100%;
    }

    .content {

        > * {
            width:14em;
            text-align: center;

            @include mediaqueries(desktop){
                width:13em;
            };
        }

        > #photo {
            width:10em;
            text-align: center;

            @include mediaqueries(desktop){
                width:10em;
            };

            @include mediaqueries(mobile){
                width: 9em;
                text-align: left;
            };
        }
    }


    #about-photo {
        position: relative;
        text-align: left;

        @include mediaqueries(mobile){
            text-align: right;
        };

        #photo {
            margin: 0 auto 1.5em;

            @include mediaqueries(mobile){
                margin:1em auto;
                margin:1.5vh auto;
            };
        }
    }

    #about-info {

        @include mediaqueries(mobile){
            text-align: left;
            padding-right: 1rem;
        };

        > * {

            @include mediaqueries(from tablet){
                margin-left: auto;
                margin-right: auto;
            };

            @include mediaqueries(mobile){
                width: 100%;
                text-align: left;

            };
        }

        div + div {
            margin-top: 0.8em;

            @include mediaqueries(tablet){
                margin-top: 0.9em;
            };
        }

        #about-name {
            text-transform: uppercase;

            h1 {
                font-size: 1.39em;
                font-weight: normal;
                letter-spacing: 1px;
                margin: 0;
            }
        }

        #about-telephone {
            color: $color-secondary;

            .highlight {
                font-size: 1.39em;
            }
        }

        #about-social {

            .icon:first-child {
                margin-left: 0.2em;
            }

            .icon + .icon {
                margin-left: 0.5em;

                @include mediaqueries(mobile) {
                    margin-left: 0.8em;
                };
            }

            .icon-download {
                float: right;
                color: $color-primary;
                display: none;

                @include mediaqueries(mobile) {
                    display: inline-block;
                    position: relative;
                    top: -0.1em;
                }
            }

            .icon {
                position: relative;
                font-size: 1.5em;
                color: $white;
                margin-top: 1em;

                &:hover {
                    color: $white;
                }

                i {
                    position: absolute;
                    top: calc(100% + 25px);
                    left: 50%;
                    @include prefix(transform,translateX(-50%));
                    width:10em;
                    color: $white;
                    background: $black;
                    height: auto;
                    line-height: 1.1;
                    font-size: small;
                    text-align: center;
                    visibility: hidden;
                    opacity: 0;
                    padding: 0.5em;
                    border-radius: 3px;
                    @include transition(all .3s ease-out) ;

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 100%;
                        left: 50%;
                        margin-left: -8px;
                        width: 0; height: 0;
                        border-bottom: 8px solid $black;
                        border-right: 8px solid transparent;
                        border-left: 8px solid transparent;
                    }
                }

                &:hover i {
                    visibility: visible;
                    opacity: 0.7;
                    z-index: 999;
                    top: calc(100% + 15px);
                }
            }
        }
    }
}
