// main: ../main.scss

$height-button: 1.2em;

@mixin button-static {
    padding : 0;
    vertical-align: middle;

    &:hover {
        cursor: pointer;
    }
}

@mixin button($color : $text-color-main) {
    @include button-static;
    color: $color;

    svg {
        fill: currentColor;
    }
}

@mixin button-fadein {
    @for $i from 1 to 5 {
        &:nth-child(#{$i}) {
            @include prefix(animation-delay,$i * 0.5s,-webkit);
        }
    }
}

.icon {
    @include button($color-secondary);
    @include button-fadein;
    display: inline-block;
}

/// Iconmoon

[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	width: $height-button;
	height: $height-button;
	line-height: $height-button;
}

// /* =======================================================================================
// Example showing how to change the color/size of the icons:
// .icon-name {
// 	font-size: 32px; // works because "width" & "height" were set using em units
// 	color: red; // works for single-colored icons, because "fill" was set to "currentColor"
// }
// ======================================================================================== */

.icon-linkedin {
}

.icon-twitter {
}
