// main: ../main.scss

@include keyframes(stripe){
    0% {
        width: 0;
    }
    100%   {
        width: 100%;
    }
};

%flip-flap {
    position: absolute;
    left: 0;
}

@mixin flip-flap {
    @for $i from 1 to 11 {
        &:nth-child(#{$i}) {
            top: ($i - 1 )* 10%;
            @include prefix(animation-delay,$i * 0.5s,-webkit);
            @include prefix(animation-timing-function,steps(6,end),-webkit);
        }
    }
}

#photo {
    position: relative;
    overflow: hidden;

    > object {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }

    > .stripes {
        width: 100%;
        height: 100%;
        z-index: 1;
        top:0;
        @extend %flip-flap;

        > .stripe {
            @extend %flip-flap;
            height: 11%;
            background: #ffffff;
            @include prefix(animation,stripe 0.5s linear forwards,-webkit);
            @include flip-flap;
        }
    }
}
