$icomoon-font-path: "fonts" !default;

$icon-fullscreen: "\e5d0";
$icon-fullscreen_exit: "\e5d1";
$icon-keyboard_arrow_left: "\e314";
$icon-keyboard_arrow_right: "\e315";
$icon-nature_people: "\e407";
$icon-send: "\e163";
$icon-icecream: "\e900";
$icon-zoom-in: "\e987";
$icon-enlarge: "\e989";
$icon-enlarge2: "\e98b";
$icon-cancel-circle: "\ea0d";
$icon-cross: "\ea0f";
$icon-circle-right: "\ea42";
$icon-circle-left: "\ea44";
$icon-share2: "\ea82";
$icon-download: "\e901";
$icon-linkedin: "\e902";
$icon-twitter: "\e903";
$icon-email: "\e904";

