$icomoon-font-path: "fonts" !default;

$icon-icecream: "\e900";
$icon-cancel-circle: "\ea0d";
$icon-cross: "\ea0f";
$icon-download: "\e901";
$icon-linkedin: "\e902";
$icon-twitter: "\e903";
$icon-email: "\e904";

