// main: ../main.scss

/// Clearfix extend
/// @access public
/// @example scss - Usage
///   .foo {
///     @extend %clearfix;
///   }
%clear,
.clear {
    *zoom: 1;

    &:before,
    &:after {
        content: ' ';
        display: table;
    }

    &:after {
        clear: both;
    }
}

/// Hide extend
/// @access public
/// @example scss - Usage
///   .foo {
///     @extend %hide;
///   }
%hide,
.hide {
    margin  : -1px;
    padding : 0;
    width   : 1px;
    height  : 1px;
    overflow: hidden;
    clip    : rect(0 0 0 0);
    clip    : rect(0, 0, 0, 0);
    position: absolute;
    bottom: 0;
}

%hideText,
.hide-text {
    overflow   : hidden;
    text-indent: -9000px;
    display    : block;
}

/// Text-align justify
/// For perfectly aligned grids that don't rely on floating elements and difficult calculations
/// http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
%justify {
    text-align: justify;

    &:after {
        // adds a false last line to the content so justify is applied
        content: '';
        display: inline-block;
        width  : 100%;
    }
}


// /* Social Class Color */
// @each $social-network, $social-color in $colors-social {
//     .social-link-#{$social-network} {
//         background: $social-color;
//         &:hover {
//             background: lighten($social-color, 10%);
//         }
//     }
// }

// /* Icon Stripe */
// @each $name,$visual in $icon-map {
//     .icon-#{$name} {
//         font-size: 0;
//
//         &:before {
//             font-size  : 1rem;
//             font-family: 'IcoMoon';
//             content    : $visual;
//         }
//     }
// }

/* Aspect Ratio */
// @include generateRatios(16,9); // 16x9
// @include generateRatios(4,3); // 4x3
@include ratio-class(240,330); // .ratio-240x330
@include ratio-class(16,35); // .ratio-16x35

/* Vertical align with unknow height */
.center-vertical {
    @include center(y-fluid);
}
/* Horizontal align */
.center-horizontal {
    @include center(x);
}

/* Video Responsive Ratio */
.video-responsive {
    @include fluid-video(16,9)
}
.video-responsive-4-3 {
    @include fluid-video(4,3)
}
